<ion-view view-title="Sant'alert" hide-back-button="true">
  <ion-nav-bar class="bar-positive" style="float: right">
    <ion-nav-buttons>
      <button menu-toggle="left" class="button button-icon ion-navicon"> </button>
      <button class="button item-button-left ion ion-android-refresh" onclick="document.location.reload(false)" ng-click="parametre()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  >
    <ion-list >
      <h4 class="content padding double-padding-x">Bienvenu sur Sant'alert<a class=" ion-android-add-circle"  href="#/app/locaux" style="float: right; font-size: 30px" ng-if="acces=='admin'"> </a></h4>

      <div class="list animate-fade-slide-in-right">
      <ion-item ng-repeat="b in profil" class="item item-avatar" href="#/app/profile/{{b.IdLocal}}">
        <img ng-src="{{url}}logo/Pricing Structure_48px.png" height="45" width="45">
        <div class="nom">{{b.NomLocal}}</div>
        <div class="detail">{{b.Ville}} - {{b.Quartier}}</div>
        <div class="appart">{{b.NombAppart}} apparts</div>
      </ion-item>
        </div>
    </ion-list>


  </ion-content>
</ion-view>
