<ion-view view-title="Locaux">
  <ion-content>

<div class="list card">

  <div class="item item-avatar" ng-repeat="profile in profile">
    <img ng-src="{{url}}logo/Pricing Structure_48px.png" height="100" width="100" style="border-radius: 50px">
    <h2><span style="font-size: 25px; font-weight: bold; color: #005efe;">{{profile.NomLocal}}</span></h2>

  </div>

  <div class="item item-body" ng-repeat="profile in profile">
    <p>
    Ville :  <span style="font-size: 20px; font-weight: bold; color: #005efe;">{{profile.Ville}}   </span><br><br>
    Quartier :  <span style="font-size: 20px; font-weight: bold; color: #005efe;">{{profile.Quartier}}  </span><br><br>
    Nombre d'appartement par niveau :  <span style="font-size: 20px; font-weight: bold; color: #005efe;">{{profile.NombNiveau}}  </span><br><br>
    Nombre d'appartement :   <span style="font-size: 20px; font-weight: bold; color: #005efe;">{{profile.NombAppart}}  </span><br><br>
  </p>

  </div>
  <div class="item tabs tabs-secondary tabs-icon-left" ng-repeat="profile in profile" ng-if="acces=='admin'">
    <a class="tab-item" href="#/app/modify2/{{profile.IdLocal}}" style="color: #000088; font-size: 15px"> <i class="icon ion-android-menu"></i> Modifier</a>
    <a class="tab-item" href="#" style="color: #d91e18; font-size: 15px" ng-click="supprime(profile.IdLocal)"> <i class="icon ion-android-delete" style="color: #d91e18;"></i>  Suprimer</a>
    </div>
</div>
    <ion-list >
      <h4 class="content padding double-padding-x" ng-repeat="profile in profile">Liste des Appartements<a ng-if="acces=='admin'" class=" ion-android-add-circle"  href="#/app/appart/{{profile.IdLocal}}" style="float: right; font-size: 30px" ng-if="acces=='admin'"> </a></h4>
      <div class="list animate-fade-slide-in-right">
        <ion-item ng-repeat="b in detail" class="item item-avatar" href="#/app/profile2/{{b.IdAppart}}">
          <img ng-src="{{url}}logo/Apartment_48px.png" height="45" width="45">
          <div class="nom">{{b.NomAppart}}</div>
          <div class="detail">Niveau {{b.Niveau}} - {{b.TypeAppart}}</div>
          <div class="appart">{{b.Occupe}}</div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
