<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding"  style="background: url(img/login.jpg) center; background-size: cover;">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo" style="margin-right: 116px"><img src="img/logo6.png"  width="150" height="150"></div>

      <form ng-submit="Logout()">
			<div class="list list-inset removePM">
			  <label class="item item-input"><input type="text" placeholder="Nom" ng-model="loginData.nom"> </label>

        <label class="item item-input"><input type="text" placeholder="Prenom" ng-model="loginData.prenom"> </label>
			  <label class="item item-input"><input type="text" placeholder="Email Address" ng-model="loginData.email"> </label>
			  <label class="item item-input"><input type="text" placeholder="Phone Number" ng-model="loginData.telephone"> </label>
			  <label class="item item-input"><input type="password" placeholder="Password" ng-model="loginData.password"> </label>
			</div>

			<div class="loginButton">
        <button class="button ion-person button-block button-balanced" type="submit" style="background-color: transparent; border-color: white;
			border: 3px solid white"> s'inscrire </button>
      </div>
      </form>
    </div>
  </div>

  </ion-content>
</ion-view>
